@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Open+Sans&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

body {
  min-height: 100vh;
  background: #141414;
  color: #fff;
}

/* html {
  color-scheme: light dark;
} */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
} */


/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 1024px and up)
@media only screen and (min-width: 1024px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */
